.auth__form {
  background: var(--primary-color);
  padding: 40px;
  border-radius: 5px;
}

.auth__btn {
  background: #3498db !important;
  color: black;
  font-weight: 600;
  border: 2px solid #0a1d37;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth__btn:hover {
  background: #4295cc;
}

.auth__btn:active {
  background: #73b9ef;
}

.auth__form p {
  margin-top: 30px;
}

label {
  color: #fbfbfb;
}

p {
  color: #041f33;
}

p a {
  color: #f2f8fc;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

.google-btn,
.facebook-btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background-color 0.3s ease;
}

.google-btn {
  background-color: #4285f4;
  color: white;
}

.google-btn:hover {
  background-color: #357ae8;
}

.facebook-btn {
  background-color: #3b5998;
  color: white;
}

.facebook-btn:hover {
  background-color: #2d4373;
}

.auth__btn {
  background-color: #3498db;
  color: black;
  font-weight: 600;
  border: 2px solid #0a1d37;
  padding: 12px;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth__btn:hover {
  background-color: #4295cc;
}

.auth__btn:active {
  background-color: #73b9ef;
}

.icon {
  font-size: 1.2rem;
}

.log-text {
  color: #fff;
}
